/**
* CSS
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
* @author Edited by Ed Nacional (www.ednacional.com)
* @author Newly edited by Tom Cardoso (www.tomcardoso.com and www.givehimthejob.com)

*/
* { 
	margin: 0;
	padding: 0;
	}

body {
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-Serif; /* choose overall font - go to www.typetester.org to test sizes and see the list of safe fonts - If the user doesnt have the first one, it try the second, and goes along the list until it finds a font that the computer has installed */
	color: #888888; /* sets the color of all type in the website except for links and other sections overwritten */
	background-color: #ffffff; /* sets the overall background color */
}

body.section-1 { }
body.section-2 { }
body.section-3 { }


/* LINKS */
	
	
	/* colors for all links */
	a:link { 
	text-decoration: none; /* none = no underline, other options include line-through or overline */
	color: #0094CE; /* sets hex color of every link - www.colorpicker.com or photoshop to find hex values */
	}
	
	a:active { 
	text-decoration: none;
	}
	
	/* highlights links that you have already clicked. This can be helpful for users to identify which items they have already seen*/
	a:visited { 
	text-decoration: none;
	color: #00587D; /* the color can also be changed */
	background: none; /* this changes the background of a visited link, you can also get rid of the the back ground an color and there will be no change if a link has been visited */ 
	}
	
	/* sets the properties for links when mouse rolls over */
	a:hover { 
 	text-decoration: underline;
	color: #0094CE;
	}

	/* any img that is a link */
	a img { 
	border: none; 
	}

/* Pre-Nav Text - Can be accessed in the Exhibit Settings */
	
	
	.top-section {
		padding-top: 0px;
		padding-right: 15px;
		padding-bottom: 10px;
		padding-left: 15px; /* matches padding left in #menu ul */
		font-size: 24px;
		line-height: 24px;
		color: #666666;
		font-style: italic;
		font-family: Georgia, serif;
	}
	
	.top-section-image {
		padding-bottom:10px; /* this pads the "Give Him The Job!" logo thing by 10px */
	}


/* MENU */

	#the-background {
				position: fixed;
				overflow: hidden;
				z-index:1;
				width: 100%;
				height:100%;
				top:0;
				left:0;
			}

	#wrapper {
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				top: 0;
				left:0;
			}

	#menu {
		float: left;
		height: auto;
		width: auto;
		overflow: auto;
		border-radius: 2em;
		-webkit-border-radius: 2em;
		-moz-border-radius: 2em;
		position: none; /* this make the menu stay in place while the content section scrolls*/
		padding-top: 15px; /* change to match the padding-top in #content if you want them to align */
		padding-bottom: 5px;
		/* padding-left & right can be changed in #menu ul - below */
		font-size: 12px;
		margin: 25px 0 0 25px;

	}

	
	/* This section controls each section made */ 
	#menu ul {
		list-style: none;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 10px; /* sets the space between each section */
		margin-left: 0px;
		/* sets the spacing around the menu - this is normally set to match padding options in #content but can be changed seperately */
		padding-right: 15px;
		padding-left: 15px;
	}

	#menu ul li {
		margin-top: 0px;
		margin-bottom: 4px;
	}
	
	/* The following sets the style for the section heading */
	#menu ul li.section-title {
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 14px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 5px;
		padding-left: 0px;
		color: #000000;
		/* Following lines adds a line about each section */
		border-top-color: #cccccc;
		border-top-style: solid;
		border-top-width: 1px;

	}
	

	/* This sets the style for Post-Nav Text which can be accessed in the Exhibit Settings */
		
		#copy {
			font-size: 9px;
			color: #bbbbbb;
			font-family: Georgia, serif;
			font-style: italic;
			margin-top: 5px;
			padding-top: 10px;
			border-top-color: #cccccc;
			border-top-style: solid;
			border-top-width: 1px;
		}


/* CONTENT AREA */

	#content {
		height: auto;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 220px; /* sets the space so the content starts right when the menu ends - if you change this also change the width of #menu to match */
	    top: 0px;
	    
	    /* sets the spacing around the content area - this is normally set to match padding options in #menu but can be changed seperately */
		padding-top: 50px;  /* change to match the padding-top in #menu if you want them to align */
		padding-right: 5px;
		padding-bottom: 0px;
		padding-left: 40px;
	}

	.container {
		margin-bottom: 0px;
	}

	#content p { /* sets the properties for all paragraphs in the content area */
		width: 600px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 20px; /* sets the space between paragraphs */
		margin-left: 0px; 	
	    line-height: 18px; /* use this the change the leading (space between lines) */
	}

	p { /* sets the properties for all paragraphs  */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 9px;
    margin-left: 0;
	}

/* HEADINGS */
	
	/*
	when typing your text/descriptions follow this format to use these heading types
	
	<h1>This is the text i want to be a heading which</h1>
	
	start with h1 as your largest most important heading. you may not need all 4 but they are here if you do.
	*/
	
	h1 { 
		font-family: Georgia, serif;
		font-size: 32px;
		color: #666666; /* This color overides the color set in "body". Delete this line if you want the colors of the headings to match the rest of your type */
		padding-bottom: 15px; /* sets the spacing between the heading and paragraph below */
	}
	
	h2 { 
		font-family: Georgia, serif;
		font-size: 20px;
		font-weight: normal;
		color: #666666;
		padding-bottom: 15px; /* sets the spacing between the heading and paragraph below */

	}
	
	h3 { 
		font-size: 16px;
		color: #0006FF;
	}
	
	h4 { 
		font-size: 12px; 
		color: #0006FF;
	}

/* IMAGES */

	#img-container	{ 
		margin: 0 0 25px 0; 
		padding: 0; 
	}
	
	.img-horizontal-pad {
		position: absolute;
		float:left;
		white-space: nowrap;
		list-style: none;
		overflow: auto;
	}
	
	.img-horizontal-pad li {
		display: inline;
		margin: 0 25px 0 0;
	}
	
	#img-container p	{ 
		width: 400px; 
		margin: 0; 
		padding: 0 0 12px 0;
	}
	
	.nothumb img {
		margin-top: 0px;  
		margin-right: 0px;
		margin-bottom: 20px;
		margin-left: 0px;
		border-color: #dbe2e0; /* erase the following 3 lines if you dont want borders on your images */
		border-width: 1px; 
		border-style:  solid;
	}
	
	#once { clear: left; }
	
	
/* SLIDE SHOW - Navigation */
	
	p.nav a {
		background-color: #eeeeee;
		padding-top: 3px;
		padding-right: 9px;
		padding-bottom: 3px;
		padding-left: 9px;
		font-size: 11px;
		font-family: Georgia, serif;
		-moz-border-radius-bottomleft:3px;
		-moz-border-radius-bottomright:3px;
		-moz-border-radius-topleft:3px;
		-moz-border-radius-topright:3px;
	}
	
	p.nav a:hover {
		background-color: #cccccc;
	}
	
	p.nav span#num {
		letter-spacing: 2px;
		font-family: Georgia, serif;
		font-style: italic;
		padding-left: 20px;
	}