<div class="container">
	
	<div class="logo"/></div>
	<div class="buyer-body">
	
		<div class="buyer-item">
			<div class="buyer-item-top">
			<h3 class="buyer-name">Mullet, slightly used</h3>
			<h3 class="buyer-price">$12.50</h3>
			</div>
			
			<div>
			<h3 class="item-description">One mullet, slightly used. It's seen its fair share of Kenny Loggins concerts, but is in complete working condition. Moustache sold separately.</h3>
			</div>	
			
			<div class="thumb-row">
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a     href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<span class="stretch"></span>
			</div>
			
			<div>
			<a href="#" class="button wide buy">Buy now</a>
			</div>
		</div>
		
		<div class="buyer-item">
			<div class="buyer-item-top">
			<h3 class="buyer-name">Mullet, slightly used</h3>
			<h3 class="buyer-price">$12.50</h3>
			</div>
			
			<div>
			<h3 class="item-description">One mullet, slightly used. It's seen its fair share of Kenny Loggins concerts, but is in complete working condition. Moustache sold separately.</h3>
			</div>	
			
			<div class="thumb-row">
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a     href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<span class="stretch"></span>
			</div>
			
			<div>
			<a href="#" class="button wide buy">Buy now</a>
			</div>
		</div>
		
		<div class="buyer-item">
			<div class="buyer-item-top">
			<h3 class="buyer-name">Mullet, slightly used</h3>
			<h3 class="buyer-price">$12.50</h3>
			</div>
			
			<div>
			<h3 class="item-description">One mullet, slightly used. It's seen its fair share of Kenny Loggins concerts, but is in complete working condition. Moustache sold separately.</h3>
			</div>	
			
			<div class="thumb-row">
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a     href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<a href="#"><img class="item-thumb" src="http://www.fillmurray.com/g/200/200"></a>
			<span class="stretch"></span>
			</div>
			
			<div>
			<a href="#" class="button wide buy">Buy now</a>
			</div>
		</div>
		
	</div>
</div>