body {
	background-repeat: repeat;
	background: url("/img/hatching.jpg");
	font-family: Helvetica,Arial,sans-serif;
}

.wrapper {
   width:600px;
   padding-top:150px;
   margin-left: auto;
   margin-right: auto;
}

p {
	margin: 0 0 0 0;
}

#title {
	font-size:90px; 
	font-weight:bold;
	letter-spacing:-5px;
	display: block;
	text-align:center;
	padding-bottom: 20px;
}

#lessertitle {
	font-size:25px;
	font-weight:normal;
	letter-spacing:-1px;
	text-align:center;
	padding-bottom: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#information {
	font-size:12px;
	font-weight:normal;
	letter-spacing:-1px;
}

#instructions a:link {
	font: inherit;
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

#instructions a:hover {
	font: inherit;
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

#instructions a:visited {
	font: inherit;
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}