<div class="container">
	
	<div class="logo"/></div>
	<div class="seller-body">
	
		<div>
		<h3>Tell us about the item you want to sell.</h3>
		</div>
		
		<div class="first-row">
		<input type="text" value="" placeholder="Mullet, slightly used" class="item-name">
		<input type="text" value="" placeholder="$12.50" class="item-price">
		</div>
		
		<div>
		<textarea class="" rows="4" placeholder="One mullet, slightly used. It's seen its fair share of Kenny Loggins concerts, but is in complete working condition. Moustache sold separately."></textarea>
		</div>	
		
		<div>
		<form action="/file-upload" class="dropzone dnd" id="my-awesome-dropzone">Sweet mullet pics<br /> get dropped in here</form>
		</div>
		
		<div>
		<a href="#" class="button wide add">Add another item</a>
		</div>
		
		<div>
		<h3 class="email-notice">We'll email you a link to your sales page.</h3>
		</div>
		
		<div>
		<input type="email" placeholder="mulletluvr@hotmail.com" class="item-email">
		<a href="#" class="button create">Create</a>
		</div>
		
	</div>
</div>