<div class="container">

  <div class="logo"/></div>
  <div class="seller-body">
     <div>
      <h3>Tell us about the item you want to sell.</h3>
    </div>

    <%= render 'form' %>
  </div>
</div>
