<div class="container">
	
	<div class="logo"/></div>
	<div class="index-body">
		<h1>Unload is the best way<br /> to sell the stuff you no<br /> longer want to friends.</h1>	
	</div>
	
	<div class="index-wrapper">
		<a href="#" class="button getstarted">Get started</a>	
	</div>
	
</div>