---
title: Tom Cardoso, graphic journalist
---

<section>
  <article>
    <div>
      <h1>Hi! I&rsquo;m Tom Cardoso, a graphic journalist.</h1>
      <h1>When I&rsquo;m not working at <a href="http://www.theglobeandmail.com/">The Globe and Mail</a> as a graphics editor, I can be found on <%= link_to "Twitter", "http://www.twitter.com/tom_cardoso/" %>, <%= link_to "GitHub", "http://www.github.com/tomcardoso" %> or <%= mail_to "hello@tomcardoso.com", "email", :onclick => "_gaq.push(['_trackEvent', 'Email Link', 'Click']);" %>.
      </h1>
    </div>
  </article>
</section>

<%= google_analytics_tag %>